.screen {
  min-height: 50vh;
}

@media only screen and (min-width: 992px) {
  .screen {
    min-height: 100vh;
  }
}

.parralax-image {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 300%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.home-screen {
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  min-height: 1px;
  height: 7.5vh;
}

.name-screen,
.work-tile-overlay {
  align-items: center;
}

.home-screen video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.intro {
  position: relative;
  z-index: 3;
  padding: 0 20px;
}

.intro h2 {
  font-weight: 700;
  line-height: 0.75;
  color: $white;
}

.intro h4 {
  font-weight: 500;
  color: $mint;
  height: 35px;
}

.work-tile,
.work-tile-overlay .overlay--content,
.works-screen h2 {
  text-align: center;
}

.intro h4 span {
  color: $mint;
  letter-spacing: -1.5px;
}

.home-screen--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.home-screen--overlay.bg-white {
  background: linear-gradient(transparent, $white 95%);
}

.trailing-letter {
  position: absolute;
  width: 12px;
  height: calc(100vh + 25px);
  bottom: calc(0px - 100vh);
  right: 83px;
  background: linear-gradient(transparent 0.25%, $mint 20%, transparent);
}

.trailing-letter:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $mint;
  bottom: 2px;
  right: 83px;
  position: fixed;
}

.name-screen {
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, $black);
}

.name-definition {
  padding: 80px 20px;
  display: inline-block;
  max-width: 100%;
}

.name-definition--name {
  font-weight: 700;
}

.name-definition--phonetic {
  position: relative;
  font-weight: 600;
  cursor: crosshair;

  span {
    display: inline-block;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    left: 0;
    top: 0;
  }

  .is-secondary {
    opacity: 0;
    position: absolute;
    color: $mint;
  }

  &:hover {
    .is-primary {
      opacity: 0;
      position: absolute;
    }

    .is-secondary {
      opacity: 1;
      position: static;
    }
  }
}

.name-definition--part-speech {
  font-weight: 700;
}

.name-definition--definition-list {
  list-style: disc;
  font-size: 0.875rem;
  padding-left: 24px;

  h2 {
    font: inherit;
  }
}

@media only screen and (min-width: 767px) {
  .name-definition--definition-list {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .name-definition--definition-list {
    font-size: 1.3rem;
  }
}

.definition-list--item {
  white-space: nowrap;

  a:hover {
    text-decoration: underline;
  }
}

.definition-list--item .desktop-only,
.definition-list--item.desktop-only {
  display: none;
}

@media only screen and (min-width: 480px) {
  .name-screen {
    background: linear-gradient(rgba(0, 0, 0, 0.3), $black);
  }

  .name-definition--definition-list {
    padding-left: 40px;
  }

  .definition-list--item .mobile-only,
  .definition-list--item.mobile-only {
    display: none;
  }

  .definition-list--item .desktop-only,
  .definition-list--item.desktop-only {
    display: initial;
  }
}

.works-screen {
  background: $white;
  transition: 0.5s ease-in-out;
  position: relative;
}

.works-screen h2 {
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

.works-screen h2 span {
  width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.work-tiles {
  width: 100%;
  position: relative;
}

.work-tile {
  width: 50%;
  max-width: 50%;
  flex-basis: 50%;
  transition: 0.2s ease-in-out;
  color: $black;
  font-size: 24px;
  position: relative;
  overflow: hidden;
}

.work-tile[data-index='14'] {
  display: none !important;
}

@media only screen and (min-width: 992px) {
  .work-tile {
    width: 33.3334%;
    max-width: 33.3334%;
    flex-basis: 33.3334%;
  }
  .work-tile[data-index='13'] {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .work-tile {
    width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .work-tile[data-index='13'] {
    display: block;
  }
}

.work-tile-logo {
  display: block;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.work-link,
.work-tile-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.work-tile-overlay {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.work-type {
  font-size: 16px;
  font-weight: 600;
  color: $mint;
  transition: 0.4s ease-in-out;
  display: none;
}

.contact-form-title,
.work-title {
  font-weight: 700;
}

@media only screen and (min-width: 767px) {
  .work-type {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .work-type {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.work-tile:hover .work-type {
  opacity: 1;
  transform: translateY(0);
}

.work-title {
  color: $white;
  text-transform: uppercase;
  transform: translateY(0);
  transition: 0.4s ease-in-out;
  font-size: 1.2rem;
  padding: 0 15px;
  line-height: 1;
}

@media only screen and (min-width: 480px) {
  .work-title {
    font-size: 1.4rem;
    line-height: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .work-title {
    transform: translateY(-5px);
    font-size: 1.8rem;
  }
}

.work-tile:hover .work-title {
  transform: translateY(0);
}

.work-link {
  display: inline-block;
  font-size: 14px;
  z-index: 3;
  color: transparent;
}

@media only screen and (min-width: 1024px) {
  .work-link {
    opacity: 0;
    transform: translateY(10px);
  }
}

.work-tile:hover .work-link {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (min-width: 767px) {
  .work-link {
    height: auto;
    width: auto;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid $white;
    position: relative;
    color: $white;
    z-index: 0;
    transition: 0.4s ease-in-out;
  }

  .work-link:after {
    content: '';
    position: absolute;
    bottom: 7px;
    height: 1px;
    background-color: $white;
    width: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease-in-out;
  }
}

.contacts-form,
.input-container {
  position: relative;
}

.work-link:hover:after {
  width: 50%;
}

.contact {
  align-items: center;
  justify-content: center;
  background: linear-gradient($black, rgba(0, 0, 0, 0));
  min-height: 70vh;
}

@media only screen and (min-width: 1024px) {
  .contact {
    min-height: 100vh;
  }
}

.contact-form-container {
  width: 100vw;
  padding: 80px 20px;
}

@media only screen and (min-width: 480px) {
  .contact-form-container {
    width: 90vw;
  }
}

@media only screen and (min-width: 767px) {
  .contact-form-container {
    width: 70vw;
  }
}

@media only screen and (min-width: 1280px) {
  .contact-form-container {
    width: 55vw;
  }
}

.contact-form-notes {
  font-weight: 600;
}

.contact-form-success {
  margin-top: 16px;
}

.input-container,
.input-container-wrap {
  margin: 20px 0;
  width: 100%;
}

.input-container:after {
  position: absolute;
  color: $mint;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  right: 15px;
}

.input-container.is-typing:after {
  content: '•••';
}

.input-container.is-finished:after {
  content: '✔';
}

.input-container.submit--container {
  margin: 0;
  justify-content: flex-end;
  padding: 0;
}

.input-container.submit--container:after {
  display: none;
}

.input-field,
.input-label,
.input-container-wrap input,
.input-container-wrap label {
  display: block;
  width: 100%;
  max-width: 100%;
}

.input-label,
.input-container-wrap label {
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  text-transform: lowercase;

  span {
    font-size: 0;
    &:after {
      content: '*';
      color: $mint;
      font-size: 1.5rem;
    }
  }
}

.input-field,
.input-container-wrap input.input-container {
  margin: 0;
  font-family: $tillium;
  position: relative;
  border: 2px solid $white;
  box-shadow: none;
  font-size: 1rem;
  padding: 10px 45px 10px 15px;
  font-weight: 600;
  background-color: transparent;
  color: $white;
  width: 100%;
  max-width: 100%;
}

.input-field:focus,
.is-finished .input-field,
.input-container-wrap input:focus,
.input-container-wrap textarea:focus {
  border-color: $mint;
}

.input-field:focus,
.input-container-wrap input:focus,
.input-container-wrap textarea:focus {
  outline: 0;
}

.input-field.input--email,
.input-field.input--phone,
.input-field.input--text,
.input-container-wrap input {
  height: 40px;
}

.input-field.input--textarea,
.input-container-wrap textarea {
  height: 120px;
  resize: none;
  margin: 0;
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  font-size: 1rem;
  padding: 10px 45px 10px 15px;
  font-weight: 600;
}

.input-field.input--submit {
  width: auto;
  font-size: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact-submit button {
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  padding: 10px 30px;
  font-size: 1.5rem;
  font-weight: 900;
  transition: 0.25s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $mint;
    border-color: $mint;
    color: $black;
  }
}

.input-field.input--submit i {
  transition: 0.2s ease-in-out;
}

.input-field.input--submit:focus,
.input-field.input--submit:hover {
  color: $mint;
}

.info {
  position: absolute;
  left: -500%;
}
